<template>
    <div class="brandList" id="brandList">
        <v-list rounded>
            <v-subheader>Бренды</v-subheader>
            <v-list-item-group v-model="item" color="primary">
                <v-list-item
                        @click="filterByBrand(item)"
                        v-for="(item, i) in items"
                        :key="i"
                >
                    <v-list-item-icon>
                        <v-icon v-text="item.icon"></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title v-text="item.text"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-item-group>
        </v-list>
    </div>
</template>

<script>
    import Scrollbar from 'smooth-scrollbar'
    export default {
        name: "brandList",
        computed:{
            items(){
                return this.$store.state.brandList
            }
        },
        data: () => ({
            item: null,
        }),
        methods:{
            filterByBrand(item){
                const props = {
                    field: 'brand-name-eng',
                    select: 'eq',
                    condition: item.text
                };

                let table = 'mainFilterConditions';
                if(this.$store.state.filteredTable===2){
                    table = 'subFilterConditions'
                }
                let flag = true;
                let idx = null
                this.$store.state[table].forEach((elem, idx)=>{
                    if(elem.value === props.condition){
                        flag = false;
                        idx = idx
                    }
                });
                if(flag){
                    this.$store.commit('updFilterConditions', props);
                } else {
                    this.$store.state[table].splice(idx, 1);
                }
                this.$store.dispatch('filterMasterTable');

            }
        },
        mounted() {
            Scrollbar.init(document.querySelector('#brandList'))
        }
    }
</script>

<style scoped>
    .brandList{
        height: 93vh;
        background: white;
    }
</style>
