<template>

    <table class="table" :id="id">
        <table class="wrapper">
            <thead class="thead">
                <tr class="tr" v-click-outside="onClickOutside">
                   <!-- <th class="th">
                        <span>Тип</span>
                    </th>-->
                    <th class="th" v-for="(th, idx) in tableCols" v-if="th.isActive" :data-id="id+ 'c' +idx">
                        <span>
                            <span>{{th.name}}</span>
                        </span>
                        <div>
                            <v-text-field v-model="th.filterField" @input="filterByInput(th)"></v-text-field>
                            <span v-if="th.filtered" class="filter" :class="{visible: th.filterCondition && th.filterValue}">
                                <img src="@/assets/img/filter.svg"  alt="" @click="activeFilter(id, th)" >
                            </span>
                        </div>
                        <div class="resizer" @mousedown="startResizeCol($event, idx)" @mouseup="endResizeCol(idx)"></div>
                    </th>
                </tr>
            </thead>
            <TableItem
                    class="list-group-item"
                    v-for="(tr, index) in tableData"
                    :key="tr.id"
                    :item="tr"
                    :tableCols="activeFields"
            >
            </TableItem>
        </table>
    </table>
</template>

<script>
    import TableItem from './TableItem'
    import Scrollbar from 'smooth-scrollbar'
    import vClickOutside from 'v-click-outside'

    export default {
        name: "datatablenew",
        components:{
            TableItem
        },
        props: [
            'id',
            'tableData',
            'tableCols',
            'activeFields',
        ],
        data: () => (
            {
                activeFilterIndex: null,
                nameCondition: '',
                codeCondition: '',
                artCondition: '',
                scrollbar: null,
                input: '',
            }
        ),
        methods: {
            activeFilter (id, item) {
                this.$store.state.filterIsActive = true;
                this.$store.state.activeFilter = item.dataName.replace(/ /g, '').toLowerCase();
                this.$store.state.filteredField = item.name;
                this.$store.state.filteredTable = id;
                this.$store.state.filterElement = item
            },
            filterField (fieldName) {
                let condition = '';
                if (fieldName === 'name') {
                    condition = this.nameCondition
                } else if (fieldName === 'code') {
                    condition = this.codeCondition
                } else if (fieldName === 'art') {
                    condition = this.artCondition
                }
                const props = {
                    fieldName: fieldName,
                    condition: condition
                };
                this.$store.dispatch('filterField', props)
            },
            onClickOutside () {
                this.activeFilterIndex = null
            },
            splitpanesResize(){
                this.scrollbar.update()
            },
            filterByInput(obj){
                let props = {
                    value: obj.filterField,
                    name: obj.apiFieldName,
                    id: this.id
                };
                this.$store.dispatch('filterByInput', props)
            },
            startResizeCol(e, idx){
                this.resizeIdx = this.id + 'c' + (+idx);
                this.startMove = e.screenX;
                this.col = document.querySelector(`[data-id="${this.resizeIdx}"]`);
                this.colStartWidth = this.col.offsetWidth;

                this.currentScrollY = this.scrollbar.offset.y;
                this.currentScrollX = this.scrollbar.offset.x;

                window.addEventListener('mousemove', this.resizeCol)
            },
            endResizeCol(){
                window.removeEventListener('mousemove', this.resizeCol)
            },
            resizeCol(e){
                let currentMove = e.screenX;
                this.col.style.minWidth = this.colStartWidth + (currentMove-this.startMove)+'px'
                this.scrollbar.scrollTo(this.currentScrollX, this.currentScrollY)
                this.scrollbar.update()
            }
        },
        mounted(){
            setTimeout(()=>{
            }, 1000)

           this.scrollbar = Scrollbar.init(document.getElementById(this.id));
           let head = document.querySelector(`#tableWrapper${this.id} .thead`);
            this.scrollbar.addListener((status)=>{
                head.style.transform = `translate3d(0, ${status.offset.y-2}px, 0)`
            });

            window.addEventListener('mouseup', ()=>{
                window.removeEventListener('mousemove', this.resizeCol)
            })
        },
        directives: {
            clickOutside: vClickOutside.directive
        }
    }
</script>

<style lang="scss">
    body{
        input{
            background-color: transparent;
            border: none;
        }
    }
    .table{
        height: 87.7vh;
        overflow: auto;
        box-sizing: border-box;
        width: 100%;
        font-family: Roboto, sans-serif;
        text-align: center;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;
        .thead{
            position: relative;
            z-index: 500;
            background-color: white;
            *{
                user-select: none;
            }
            .tr{
                padding-top: .5rem;
                background: white;
            }
            .th{
                position: relative;
            }
            .resizer{
                position: absolute;
                top: 0;
                left: 100%;
                transform: translateX(10%);
                width: 1rem;
                height: 1.5rem;
                background: url("../../assets/img/pull.svg") no-repeat center center/contain;
                z-index: 50;
                cursor: col-resize;
                &:after{
                    content: '';
                    width: 1px;
                    height: 90vh;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: .5s;
                    background: rgba(0,0,0,.3);
                    opacity: 0;
                    pointer-events: none;
                }
                &:hover{
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
        .wrapper{
            min-width: calc((100vw - 15.5vw)/2);

            border-spacing: 0;
            border-collapse: collapse;
        }
        .tr{
            //display: flex;
            align-items: center;
            min-width: 100%;
            width: max-content;
            padding: 0;
            margin: 0;
            .th{
                //width: 100%;
                max-width: 10vw;
                padding-right: 0;
                //min-width: 14vw;
                &:nth-of-type(2){
                    text-align: left;
                    //min-width: 10vw
                }
                &>span{
                    overflow: hidden;

                }
                span{
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                }
            }
        }
        .td{
            padding: 0.2rem 1.5rem;
            cursor: pointer;
        }
        .th{
            font-weight: normal;
            color: rgba(0,0,0,.5);
            padding: 0.2rem 1.5rem;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;
            min-height: 2rem;
            span{
                transition: 0s 1s;
                &.hide{
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                    transition: 0s 0s;
                }
            }
            div{
                display: flex;
            }
            &.activeFilter{
                form{
                    .inform{
                        display: block;
                        .icon{
                            opacity: 0;
                            transition: opacity 0.5s 2s;
                        }
                    }
                }
                input{
                    width: 10rem;
                    padding-left: 1rem;
                    border: 1px solid rgba(0,0,0,.2);
                    outline: none;
                    &:focus{
                        border-color: black;
                    }
                }
            }
            &:hover{
                .filter{
                    opacity: 1;
                    pointer-events: all;
                }
            }
            .filter{
                display: inline-block;
                margin-left: .5rem;
                opacity: 0;
                pointer-events: none;
                transition: 0.5s;
                &.visible{
                    opacity: 1;
                    pointer-events: all;
                }
                img{
                    display: inline-block;
                    width: .85rem;
                    height: .85rem;
                }
            }
            form{
                position: relative;
                display: inline-block;
                margin-left: 1rem;
                &:hover{
                    .inform{
                        pointer-events: all;
                        p{
                            opacity: 1;
                            pointer-events: all;
                            background: white;
                            width: 100%;
                        }
                    }
                }
                .inform{
                    display: none;
                    position: absolute;
                    pointer-events: none;
                    background-color: transparent !important;
                    .icon{
                        pointer-events: all;
                        position: absolute;
                        top: -13%;
                        right: 5%;
                        width: 1rem;
                        height: 1rem;
                        opacity: 0;
                    }
                    p{
                        opacity: 0;
                        pointer-events: none;
                        transition: 0.5s;
                        border: 1px solid gray;
                    }

                }
            }
            input{
                display: inline-block;
                width: 0;
                box-sizing: border-box;
                padding: 0;
                transition: 0.5s;
                border: none;
                border-radius: 2px;
            }
        }
        .list-group-item{
            opacity: 1 !important;
            padding-right: 1vw;
            filter: none;
            z-index: 200;
            position: relative;
            transition: 0s !important;
            user-select: none;
            min-width: fit-content;
            width: 100%;
            overflow: hidden;
            border-bottom: 1px solid rgba(0,0,0,.4);
        }
        .v-input{
            margin-top: 0;
            padding-top: 0;
            &::v-deep{
                .v-text-field__details{
                    display: none;
                }
                .theme--light.v-input input{
                    background: rgba(#000, .05);
                }
                .v-input__slot{
                    margin-bottom: 0;
                }
            }

        }
    }
</style>
