<template>
    <div class="FilterPopup">
      <div class="wrapper">
        <div class="title">Сортировать по полю "{{activeFilterField}}"</div>
        <div class="sort">
          <p @click="sortArray('top')">Сортировать по возрастанию</p>
          <p @click="sortArray('bottom')">Сортировать по убыванию</p>
        </div>
        <div class="title">Показать строки, значение поля "{{activeFilterField}}" которых</div>
        <form action="">
          <div class="inputRow">
            <v-combobox :items="items" v-model="filterElement.filterCondition">
            </v-combobox>
            <v-text-field v-model="filterElement.filterValue"></v-text-field>
            <div class="del" @click="delFilter"></div>
          </div>
          <div class="catFilter">
           <!-- <v-checkbox
              v-model="allActive"
              label="Выбрать все"
              @change="addAll"
            ></v-checkbox>-->
            <v-checkbox
                    v-for="field in filterElement.filterCategories"
                    v-model="field.isActive"
                    :label="field.name"
                    @change="addField(field.isActive, field.name)"
            ></v-checkbox>
          </div>
          <v-btn @click.prevent="filterCategory">ОК</v-btn>
        </form>
        <div class="closer" @click="closeFilter">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'FilterPopup',
  computed: {
    activeFilterField () {
      return this.$store.state.filteredField
    },
    filterElement(){
      return this.$store.state.filterElement
    }
  },
  data: () => ({
    items: [
      {
        text: 'Равно',
        value: 'eq'
      },
      {
        text: 'Не равно',
        value: 'ne'
      },
      {
        text: 'Содержит',
        value: 'like'
      },
    ],
    allActive: true,
  }),
  methods: {
    closeFilter () {
      this.$store.state.activeFilter = false;
      this.$store.state.filterIsActive = false;
      // TODO: Костыль 1. Проверь, не поломает ли это что-то еще
      this.$store.state.filteredTable = 1;
    },
    filterCategory () {
      if(!this.filterElement.filterValue){this.closeFilter(); return false;}
      const props = {
        field: this.filterElement.filerField,
        select: this.filterElement.filterCondition.value,
        condition: this.filterElement.filterValue,
        plus: false
      };
      this.$store.commit('updFilterConditions', props);
      if(this.$store.state.filteredTable===1){
        this.$store.dispatch('filterMasterTable', true)
      } else {
        this.$store.dispatch('filterSubTable', true)
      }
    },
    delFilter(){
      const props = {
        field: this.filterElement.filerField,
      };
      this.$store.commit('delFilter', props);

      if(this.$store.state.filteredTable===1){
        this.$store.dispatch('filterMasterTable', false)
      } else {
        this.$store.dispatch('filterSubTable', false)
      }

    },
    sortArray(direction){
      this.$store.commit('sortArray', direction)
    },

    //сортировка по категориям
    addField(isActive, name){
      if(!isActive){
        const props = {
          field: this.filterElement.filerField,
          select: 'ne',
          condition: name,
          plus: true
        };
        this.$store.commit('updFilterConditions', props);

      } else {
        const props = {
          field: this.filterElement.filerField,
          condition: name,
          plus: true,
        };
        this.$store.commit('delFilter', props);
      }

      if(this.$store.state.filteredTable===1){
        this.$store.dispatch('filterMasterTable', false)
      } else {
        this.$store.dispatch('filterSubTable', false)
      }
    },

    // выбор всех фильтров из списка
    addAll(){
      if(this.allActive){

      } else{
        this.filterElement.filterCategories.forEach((elem)=>{
          const props = {
            field: this.filterElement.filerField,
            select: 'ne',
            condition: elem.name,
            plus: true
          };
          this.$store.commit('updFilterConditions', props);
        })
      }
      if(this.$store.state.filteredTable===1){
        this.$store.dispatch('filterMasterTable', false)
      } else {
        this.$store.dispatch('filterSubTable', false)
      }
    }
  },
  mounted() {
  }

}
</script>

<style lang="scss" scoped>
  .FilterPopup{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper{
      position: relative;
      padding: 3rem 5rem;
      background: white;
      border: 1px solid gray;
    }
    .v-input{
      max-width: 30%;
      margin-right: 5%;
      &:nth-of-type(2){
        width: 50%;
        max-width: 50%;
        .v-text-field__slot{
          input{
            padding-left: 1rem;
          }
        }
      }
      .v-select__slot{
        cursor: pointer;
      }
    }
    .sort{
      text-transform: uppercase;
      cursor: pointer;
      p{
        position: relative;
        width: fit-content;
        transition: 0.5s;
        padding: 0.5rem;
        padding-left: 2rem;
        margin-bottom: 0.1vh;
        &:first-of-type{
          &:before{
            transform: translateY(-50%) rotate(-90deg);
          }
        }
        &:before{
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%) rotate(90deg);
          width: 1rem;
          height: 1rem;
          background: url("../../assets/img/sortTop.svg") no-repeat center center/contain;
        }
        &:hover{
          background: rgba(0,0,0,.1);
        }
      }
    }
    .inputRow{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .del{
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        background: url("../../assets/img/close.svg") no-repeat  center center/80% auto;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
          background-color: rgba(#000, .3);
        }
      }
    }
    .catFilter{
      height: 20vh;
      padding-left: 1rem;
      overflow: auto;
      .v-input{
        max-width: 100%;
      }
    }
    input{
      background: (0,0,0,.05);
      border: 1px solid rgba(0,0,0,.3);
      padding: 0.5rem;
      width: 53%;
    }
    button{
      display: block;
      margin: 1rem auto 0;
      border: 1px solid rgba(0,0,0,.3);
      padding: 0.3rem 1rem;
    }
    .closer{
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        height: 2px;
        width: 100%;
        background: black;
        &:last-child{
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }
</style>
