
<template>
    <tr
            @dragstart="dragStart($event)"
            @dragenter="dragEnter($event)"
            @dragover="dragOver($event)"
            @drop="dragDrop($event)"
            draggable="true"
          class="drag tableItem">
      <!--<td class="td">
        <div v-if="item.type==='folder'"><img src="@/assets/img/folder.svg" alt=""></div>
        <div v-if="item.type==='file'" class="fa fa-adjust"><img src="@/assets/img/business.svg" alt=""></div>
      </td>-->

      <td v-for="(field, str, idx) in item" v-if="tableCols.includes(str)" class="td">
        <span v-if="field">
          <span class="del" v-if="(str==='mappingtext' && activeSubTable.attributes.category !== 'Geography') || str==='mappingtextfull'" @click="delMappingId"></span>
          <span v-if="edited!==item.id">{{field}}</span>
          <!--<input type="text" v-model="text" v-if="edited===item.id">-->
        </span>
        <span v-if="!field">
          <span>-</span>
        </span>
      </td>

     <!-- <div class="td edit">
        <img src="@/assets/img/edit.svg" alt="" @click="editRow">
      </div>-->
      <!--<drop tag="tr" class="drop"  @drop="handleDrop($event)" :drop-effect="['link']"></drop>-->
    </tr>
</template>
<script>
import { Drag, Drop } from 'vue-drag-drop'
export default {
  mounted(){
  },
  name: 'TableItem',
  props: [
    'item',
    'tableCols',
  ],
  components:{
  'drag': Drag,
  'drop': Drop,
  },
  computed: {
    edited () {
      return this.$store.state.edited
    },
    subBackendName(){
      return this.$store.state.subBackendName
    },
    activeSubTable(){
      return this.$store.state.activeSubTable
    },
    dragElem(){
      return this.$store.state.dragElem
    }
  },
  data: () => (
    {

    }
  ),
  methods: {
    dragStart(event){
      this.$store.state.dragElem = this.item;
      event.dataTransfer.effectAllowed='move';
      return true;
    },
    dragEnter(event){
      event.preventDefault();
      return true;
    },
    dragOver(event){
      event.dataTransfer.dropEffect="move"
      event.returnValue=false;
    },
    dragDrop(event){
      this.handleDrop()
      event.stopPropagation();
      return false;
    },
    handleDrop(event){
      if ((this.dragElem.mappingtext && this.item.mappingtext) || (!this.dragElem.mappingtext && this.dragElem.mappingtext!==null && !this.item.mappingtext && this.item.mappingtext!==null) || (this.dragElem.mappingtext===null && this.item.mappingtext) || (this.dragElem.mappingtext && this.item.mappingtext===null) || (this.item.mappingtext===null && this.dragElem.mappingtext===null)){
        alert('Эти поля нельзя связать!')
      } else{
        let category = this.activeSubTable.attributes.name;
        let mappingId = this.dragElem.id;
        let id = this.item.id;

        if(this.item.isMaster){
          mappingId = this.item.id;
          id = this.dragElem.id;
        }

        let name1 = this.dragElem['productnameeng'];
        if(this.dragElem['productnamerus']){
          name1 = this.dragElem['productnamerus']
        }

        let name2 = this.item['productname'];
        if(this.item['productnamerus']){
          name2 = this.item['productnamerus']
        }

        if(this.dragElem['mappingid']===null || this.dragElem['mappingid']){
          name1 = this.item['productnameeng'];
          if(this.item['productnamerus']){
            name1 = this.item['productnamerus']
          }

          name2 = this.dragElem['productname'];
          if(this.dragElem['productnamerus']){
            name2 = this.dragElem['productnamerus']
          }
        }


        let agree = confirm(`Связать поля?`);
        if(agree){
          let obj = {
            category: category,
            id: id,
            mappingId: mappingId
          };
          fetch('http://176.118.31.82:8080/mapping', {
            method: 'post',
            body: JSON.stringify(obj),
            headers:
                    {
                      'Content-Type': 'application/json'
                    }
          }).then((res)=>{
            if(res.status===201){
              let nid =  this.item.nid
              if(this.dragElem.mappingtext===null || this.dragElem.mappingtext) {
                nid = this.dragElem.nid
              }
              this.writeNewItem(nid)
            }
          });

        } else {

        }
      }

      this.afterDrop()

    },
    afterDrop(){
      let dr = document.querySelectorAll('.drop');
      dr.forEach((elem)=>{
        elem.classList.remove('dragg')
      })
    },

    delMappingId(){
      let agree = confirm(`Отменить связь между полями?`);
      if(agree){
        let obj = {
          category: this.activeSubTable.attributes.name,
          id: this.item.id,
          mappingId: null
        };

        fetch('http://176.118.31.82:8080/mapping', {
          method: 'post',
          body: JSON.stringify(obj),
          headers:
                  {
                    'Content-Type': 'application/json'
                  }
        }).then((res)=>{
          this.writeNewItem(this.item.nid)
        });

      } else {

      }
    },

    writeNewItem(nid){
      fetch(`http://176.118.31.82:8080/${this.$store.state.subBackendName}?filter[NID]=eq:${nid}`, {})
        .then(res=>res.json())
        .then(data=>{
          this.$store.state.subTableData.forEach((elem, idx)=>{
            if(elem.nid === nid){
              let o = Object.entries(data.data[0].attributes).reduce((ooo,el)=>{
                ooo[el[0].replace(/-/g, '').toLowerCase()] = el[1];
                return ooo
              }, {});
              const item = {
                id: elem.id,
                ...o,
              };
              let props = {
                item: item,
                idx
              }
              this.$store.commit('updSubStr', props)
              return;
            }
          })
        })
    }
  },
}
</script>

<style lang="scss">
  .tableItem{
    position: relative;
    &.drag{
      //display: flex;
      min-width: calc((100vw - 15vw)/2);
      background: white;
      position: relative;
      &:hover{
        background: #dddddd;
      }
    }
    .drop{
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .drop.dragg{
      pointer-events: all;
    }
    tr{
      //display: block;
      display: table-row;
      border-bottom: 1px solid black;
      &.drag{
        border-bottom: 1px solid black;
      }
    }
    .td{
      //display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      min-width: 10vw;
      max-width: 10vw;
      //width: 100%;
      text-align: left;
      border-bottom: 1px solid rgba(#000, .4);
      span{
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }
    }
    .del{
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .5rem;
      background: url("../../assets/img/trash.svg") no-repeat center center/70%;
      transition: .5s;
      border-radius: 50%;
      &:hover{
        background-color: rgba(#000, .5);
      }
    }
  }
  img {
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .td{
    div{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  input{
    width: 100%;
    background: whitesmoke;
    border: 1px solid rgba(0,0,0,.3);
    background: rgba(0,0,0,.05);
    padding-left: 1rem;
  }
  .code, .art{
    width: 3rem;
    input{
      width: 100%;
    }
  }
</style>
