<template>
  <div class="tree" :id="treeId">
    <v-treeview
        shaped
        :items="cTreeData"
        :activatable=true
        item-key="id"
    >
      <template slot="label" slot-scope="{ item }">
        <a @click="getChild(item)">{{ item.attributes[nameField] }}</a>
      </template>
    </v-treeview>
  </div>
</template>

<script>
import { DraggableTree } from 'vue-draggable-nested-tree'
import Scrollbar from 'smooth-scrollbar'

export default {
  components: {
    DraggableTree
  },
  props: {
    treeId: {
      type: String
    },
    treeData: {
      type: Array
    },
    getChild: {
      type: Function
    },
    nameField: {
      type: String
    },
    /* Если передано - сортируем массив данных
    @direction: 'up' | 'down',
    @fieldName: 'string'*/
    sort: {
      type: Object,
      default: null,
      require: false
    },
  },

  computed: {
    activeTab () {
      return this.$store.state.activeTab
    },

    // Данные с учетом сортировки
    cTreeData() {
      if (!this.treeData) return []
      if (!this.sort) return this.treeData
      const sortedArray = this.treeData.slice();
      this.sortArray(sortedArray)
      return sortedArray
    }
  },

  mounted () {
    Scrollbar.init(document.querySelector('#' + this.treeId))
  },

  methods: {
    // Рекурсивный метод сортировки массива
    sortArray(arr) {
      arr.sort((a, b) => {
        let fieldA = a.attributes[this.sort.fieldName]
        let fieldB = b.attributes[this.sort.fieldName]

        // Учитываем null и undefined значения
        if (!fieldA) return 1
        if (!fieldB) return -1

        /* Преобразуем к числу, если в строке записано число
          Иначе переведем строку в нижний регистр */
        fieldA = !Object.is(+fieldA, NaN) ? +fieldA: fieldA.toLowerCase()
        fieldB = !Object.is(+fieldB, NaN) ? +fieldB: fieldB.toLowerCase()

        /* Обычный алгоритм сравнения
        в зависиомости необходимой сортировки (возрастания|убывания) */
        if (fieldA < fieldB) {
          return this.sort.direction === 'up' ? -1 : 1;
        }
        if (fieldA > fieldB) {
          return this.sort.direction === 'up' ? 1 : -1;
        }
        return 0;
      })

      // Вызовем снова для потомков
      for (let i = 0; i < arr.length; i++) {
        const children = arr[i].children
        if (children.length === 0) continue
        this.sortArray(children)
      }
    }
  }
}
</script>
<style lang="scss">
  .tree{
    height: 93vh;
    //overflow: auto;
    background: white;
    .v-treeview-node.v-treeview-node--shaped .v-treeview-node__root{
      pointer-events: none;
    }
  }

  .v-treeview-node__root button{
    pointer-events: all;
  }
  .v-application--is-ltr .v-treeview-node__content a{
    pointer-events: all !important;
  }

</style>
