<template>
  <div class="window" id="window" ref="window">
    <splitpanes @resize="splitpanesResize">
      <pane :key="1">
        <div class="tableWrapper" id="tableWrapper1">
          <div class="tableHead">
            <div class="navBar">
              <v-combobox v-model="activeMainTable" class="eventsNone">
              </v-combobox>
              <columnsPopup :id='1' :fields="mainTableCols"></columnsPopup>
            </div>
<!--            TODO: Косытль 2. Нужно решить проблему с паджинацией на таблицах раздела "География"-->
            <paginate
              v-if="mainTableType !== 'Geography'"
              :page-count="cTablesPagesCount.master.pagesCount"
              :click-handler="masterPaginationClickHandler"
              prev-text="<"
              next-text=">"
              container-class="table__pagination">
            </paginate>
          </div>
          <dataTable
            ref="table1"
            :id="1"
            :tableData="mainTableData"
            :tableCols="mainTableCols"
            :activeFields="activeMainFields"></dataTable>
        </div>
      </pane>
      <pane :key="2">
        <div class="tableWrapper" id="tableWrapper2">
          <div class="tableHead">
            <div class="navBar">
              <v-combobox v-model="activeSubTable" :items="subTablesList" item-text="attributes.ui_name"
                          @change="changeSubData">
              </v-combobox>
              <columnsPopup :id='2' :fields="subTableCols"></columnsPopup>
              <div class="treeHandleBtn" @click="openSubTree"
                   v-if="subTableCategory==='Geography' || subTableCategory === 'Employees'"></div>
            </div>
            <paginate
              v-if="mainTableType !== 'Geography'"
              :page-count="cTablesPagesCount.sub.pagesCount"
              :click-handler="subPaginationClickHandler"
              prev-text="<"
              next-text=">"
              container-class="table__pagination">
            </paginate>
          </div>
          <dataTable
            ref="table2"
            :id="2"
            :tableData="subTableData"
            :tableCols="subTableCols"
            :activeFields="activeSubFields"></dataTable>
        </div>
      </pane>
    </splitpanes>
  </div>
</template>
<script>
  import dataTable from "./dataTable";
  import {Splitpanes, Pane} from 'splitpanes'
  import columnsPopup from "../app/columnsPopup";

  export default {
    components: {
      dataTable,
      Splitpanes,
      Pane,
      columnsPopup,
    },
    props: [
      'openSubTree'
    ],
    computed: {
      subTablesList() {
        return this.$store.state.subTablesList
      },
      mainTableData() {
        return this.$store.state.mainTableData
      },
      mainTableType(){
        return this.$store.state.activeMainTable.category
      },
      mainTableCols() {
        return this.$store.state.mainTableCols
      },
      subTableData() {
        return this.$store.state.subTableData
      },
      subTableCols() {
        return this.$store.state.subTableCols
      },
      activeMainTable() {
        return this.$store.state.activeMainTable['ui_name']
      },
      activeTabName() {
        return this.$store.state.activeTabName
      },
      activeMainFields() {
        return this.$store.state.activeMainFields
      },
      activeSubFields() {
        return this.$store.state.activeSubFields
      },
      subTableCategory() {
        return this.$store.state.activeSubTable.attributes.category
      },
      cTablesPagesCount() {
        return this.$store.getters.tablesMeta
      }
    },
    data: () => ({
      activeSubTable: '',
      asd: [],
      Scrollbar1: null
    }),
    methods: {
      splitpanesResize() {
        this.$refs.table1.splitpanesResize();
        this.$refs.table2.splitpanesResize();
      },
      changeSubData() {
        this.$store.state.onlySub = true;
        this.$store.state.activeSubTable = this.activeSubTable;
        this.$store.state.subBackendName = this.activeSubTable.attributes['backend_name'];
        this.$store.dispatch('fetchSubTable');
        this.$store.dispatch('fetchTablesCols');
      },
      masterPaginationClickHandler(pageNum) {
        this.$store.commit("updatePageNumber", {
          table: 'master',
          pageNum
        })
        this.$store.dispatch("fetchMasterTable")
      },
      subPaginationClickHandler(pageNum) {
        this.$store.commit("updatePageNumber", {
          table: 'sub',
          pageNum
        })
        this.$store.dispatch("fetchSubTable")
      }
    },
    mounted() {
      // тут разобраться с setTimout (не успевает подтянутсья с бэка данные)
      setTimeout(() => {
        this.activeSubTable = this.subTablesList[0]
      }, 200)
      //до сюда разобраться

    }
  }
</script>
<style lang="scss">

  @import "src/assets/scss/pagination";

  .window {
    .tableWrapper {
      & > .scroll-content {
        min-width: calc((100vw - 15vw) / 2);
      }

      &#tableWrapper1 {
        .v-input {
          //pointer-events: none;
        }

        .v-input__append-inner {
          display: none;
        }
      }
    }

    .tableHead {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;

      .name {
        position: relative;
        border-bottom: 1px solid rgba(#000, .4);
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background: rgba(#000, .3);
        }

        .subTablesList {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background: white;

          div {
            cursor: pointer;
            border-bottom: 1px solid black;
            transition: 0.3s;

            &:hover {
              background: rgba(#000, .3);;
            }
          }
        }
      }

      .navBar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1rem;

        .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
          display: none;
        }

        .v-select:not(.v-text-field--single-line):not(.v-text-field--outlined) .v-select__slot > input {
          cursor: pointer;
        }
      }

      .directoryName {
        font-size: 1rem;
        font-weight: 500;
        text-transform: none;
        padding: 0.5rem 0;
        width: 90%;
        text-align: center;
      }

      .v-input {
        height: 2rem;
        padding-top: 0;
        margin-top: 0;

        &::v-deep {
          input {
            text-align: center;
            width: fit-content;
            background-color: transparent;
            border-style: none;
          }
        }

      }

      .v-select__slot {
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
      }
    }

    .eventsNone {
      pointer-events: none;
    }

    .treeHandleBtn {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      margin-left: .5rem;
      cursor: pointer;
      border-radius: 50%;
      transition: 0.5s;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      &:after {
        content: '';
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url("../../assets/img/organization.svg") no-repeat center center/contain;
      }
    }
  }

  .window .tableHead .v-select__slot {
    width: 13vw;
  }

</style>
