.tableWrapper {
  .table__pagination {
    display: flex;
    padding: 0 2rem;
    width: 100%;
    justify-content: space-between;
    background: #3F51B5;
    margin-bottom: 1rem;
    li {
      list-style-type: none;
      cursor: pointer;

      a {
        color: white;
        outline: none;
        display: block;
        height: 100%;
        padding: .7rem;
      }

      &.disabled {
        a {
          opacity: .5;
          cursor: default;
        }
      }

      &.active {
        background-color: white;
        a {
          color: black;
        }
      }
    }
  }
}