<template>
    <v-dialog class="columnsPopup" v-model="dialog" scrollable max-width="300px">
        <template v-slot:activator="{ on, attrs }">
            <div class="morePlaces"
                 v-bind="attrs"
                 v-on="on">
                <img src="@/assets/img/list.svg" alt="">
            </div>
        </template>
        <v-card>
            <v-card-title>Показать/скрыть поля</v-card-title>
            <v-divider></v-divider>
            <v-card-text style="height: 300px;">
                <v-checkbox
                        v-for="field in fields"
                        v-model="field.isActive"
                        :label="field.name"
                        @change="addField(field.isActive, field.dataName)"
                ></v-checkbox>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-btn color="blue darken-1" text @click="dialog = false">Закрыть</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "columnsPopup",
        props:[
            'fields',
            'id'
        ],
        data () {
            return {
                dialog: false,
                checkbox: true,
            }
        },
        methods:{
            toKebabCase(str) {
                return str.replace(/ /g, '').replace(/([A-Z]+)/g, '-$1').replace(/^-/, '').toLowerCase()
            },
            addField(evn, name){
                let cols = 'activeMainFields';
                if(this.id===2){
                    cols = 'activeSubFields'
                }
                if(evn){
                    this.$store.state[cols].push(name.replace(/ /g, '').toLowerCase())
                } else{
                    let idx = this.$store.state[cols].indexOf(name.replace(/ /g, '').toLowerCase());
                    this.$store.state[cols].splice(idx, 1)
                }
            }
        }
    }
</script>

<style lang="scss">
    .morePlaces{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s;
        margin: 0.5vh 0;
        &:hover{
            background: rgba(#000, .2);
        }
    }
    .v-input__slot{
        margin-bottom: 0;
    }
    .theme--light.v-messages{
        display: none;
    }

</style>
