<template>
    <div class="home">
        <div class="DB_items">
            <DB_item v-for="item in items" :item="item"></DB_item>
        </div>
    </div>
</template>
<script>
    import DB_item from "../components/home/DB_item";
export default {
    components:{
        DB_item
    },
    computed:{
        items(){
            return this.$store.state.masterTables
        },
    },
    mounted() {
        this.$store.dispatch('fetchTablesList')
    }

}
</script>
<style lang="scss" scoped>
    .DB_items{
        display: flex;
        padding: 1rem;
    }
</style>
