<template>
  <div class="login">
    <div class="container">
      <h1>Авторизация</h1>
      <v-text-field label="E-mail" hide-details="auto" v-model="email"></v-text-field>
      <v-text-field type="password" label="Пароль" hide-details="auto" v-model="password"></v-text-field>
      <p class="error" :class="{visible: error}">{{error}}</p>
      <v-btn color="success" @click="autorisation">Авторизоваться</v-btn>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Login",
        data: ()=>({
            email: '',
            password: '',
           error: null,
        }),
        methods:{
            autorisation(){
                fetch(`http://176.118.31.82/account/login?Password=${this.password}&UsernameOrEmailAddress=${this.email}`, {
                    method: 'post'
                })
                    .then(res=>{
                      return res.json()})
                    .then(data=>{
                        if(data.success){
                            this.$store.state.isAuthenticated = true;
                            this.$cookie.set('isAuthenticated', 'true', 1);
                            this.$router.push('/')
                        } else {
                          this.error = data.Error.Details
                        }
                    })
            }
        }
    }
</script>

<style scoped lang="scss">
  .login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .error{
      height: 2rem;
      color: red;
      background: none !important;
      margin-bottom: 1rem;
      border: none !important;
      opacity: 0;
      transition: 0.5s;
      &.visible{
        opacity: 1;
      }
    }
  }
  .container{
    width: 20vw;
    height: 20vw;
    padding: 1.5rem;
    box-shadow: 5px 5px 15px 5px  rgba(0,0,0,.3);
  }
  .v-input{
    margin-bottom: 2rem;
    &:last-of-type{
      margin-bottom: 1rem;
    }
  }
  h1{
    text-align: center;
    margin-bottom: 1rem;
  }
  button{
    display: block;
    margin: 4rem auto 0;
  }
</style>
