<template>
    <div class="content">
      <splitpanes class="default-theme">
        <pane :key="1" min-size="15" size="15">
          <div class="treeWrapper">
            <brandList v-if="mainTableType=== 'Product'"></brandList>
            <tree v-if="mainTableType === 'Geography'"
                  treeId="tree1"
                  :treeData="mainTreeData"
                  :getChild="getMasterChild"
                  nameField="territory-namerus"
                  :sort="{
                    direction: 'up',
                    fieldName: 'territory-namerus'
                  }"
            ></tree>
            <tree v-if="mainTableType === 'Employees'"
                  :treeId="'tree1'"
                  :treeData="mainTreeData"
                  :getChild="getMasterEmployeesChild"
                  nameField="name"></tree>
            <div class="closer" @click="openSubTree=false"> </div>
          </div>
        </pane>
        <pane :key="2">
          <div>
            <div class="windowWrapper">
            <window :openSubTree="openSubTreeHandler"></window>
              <FilterPopup v-if="filterIsActive"></FilterPopup>
          </div>
          </div>
        </pane>
      </splitpanes>


      <div class="subTableTree" :class="{open: openSubTree}">
        <splitpanes>
          <pane :key="1" min-size="15" size="85" class="hiddenBlock">
            <div class="hiddenBlock"></div>
          </pane>
          <pane :key="2" min-size="15" size="15" max-size="30" class="eventsAll">
            <div class="treeWrapper">
              <tree v-if="mainTableType === 'Geography'"
                    :treeId="'tree2'"
                    :treeData="subTreeData"
                    :getChild="getSubChild"
                    nameField="geography-name"
                    :sort="{
                      direction: 'up',
                      fieldName: 'geography-name'
                  }"></tree>

              <tree v-if="mainTableType === 'Employees'"
                    treeId="tree2"
                    :treeData="subTreeData"
                    :getChild="getSubEmployeesChild"
                    nameField="name"></tree>
              <div class="closer" @click="openSubTree=false">
                <span></span>
                <span></span>
              </div>
            </div>
          </pane>
        </splitpanes>
      </div>
    </div>
</template>
<script>
import tree from '../components/work_place/tree'
import window from '../components/work_place/window'
import { Splitpanes, Pane } from 'splitpanes'
import 'splitpanes/dist/splitpanes.css'
import FilterPopup from '../components/work_place/FilterPopup'
import brandList from "../components/work_place/brandList";
export default {
  components: {
    tree,
    window,
    Splitpanes,
    Pane,
    FilterPopup,
    brandList
  },
  computed: {
    filterIsActive () {
      return this.$store.state.filterIsActive
    },
    mainTableType(){
      return this.$store.state.activeMainTable.category
    },
    mainTreeData () {
      if(this.$store.state.masterTerritoryTree){
        return this.$store.state.masterTerritoryTree
      } else if(this.$store.state.masterEmployeesTree){
        return this.$store.state.masterEmployeesTree
      }
    },
    subTreeData () {
      if(this.$store.state.subTerritoryTree){
        return this.$store.state.subTerritoryTree
      } else if(this.$store.state.subEmployeesTree){
        return this.$store.state.subEmployeesTree
      }
    },
  },
  data: ()=>({
    openSubTree: false,
  }),
  methods:{
    getMasterChild (data) {
      let path = `http://176.118.31.82:8080/${this.$store.state.masterBackendName}?filter[parent-nid]=eq:${data.attributes.nid}`
      if(data.id==='0'){
        path = `http://176.118.31.82:8080/${this.$store.state.masterBackendName}`
      }
      fetch(path, {})
        .then(res => res.json())
        .then(resData =>{
          this.$store.commit('updateData', resData)
      })
    },
    getSubChild(data){
      let path = `http://176.118.31.82:8080/${this.$store.state.subBackendName}?filter[parent-nid]=eq:${data.attributes.nid}`
      if(data.id==='0'){
        path = `http://176.118.31.82:8080/${this.$store.state.subBackendName}?page[number]=1&page[size]=100`
      }
      fetch(path, {})
        .then(res => res.json())
        .then(resData =>{
          this.$store.commit('updateSubData', resData)
        })
    },
    getSubEmployeesChild(data){
      let path = `http://176.118.31.82:8080/${this.$store.state.subBackendName}?filter[user-manager]=eq:${data.attributes['user-manager']}`
      if(data.type==='parent'){
        path = `http://176.118.31.82:8080/${this.$store.state.subBackendName}?filter[user-business-unit]=eq:${data.attributes['user-business-unit']}`
      }
      if(data.levelType==='all'){
        path = `http://176.118.31.82:8080/${this.$store.state.subBackendName}`
      }
      fetch(path, {})
        .then(res => res.json())
        .then(resData =>{
          this.$store.commit('updateSubData', resData)
        })
    },
    getMasterEmployeesChild(data){
      let filterCondition = 'eq';
      if(data.attributes[data.levelType]=== null){
        filterCondition = 'isnull'
      }
      let path = `http://176.118.31.82:8080/${this.$store.state.masterBackendName}?filter[${data.levelType}]=${filterCondition}:${data.attributes[data.levelType]}`
      if(data.levelType==='all'){
        path = `http://176.118.31.82:8080/${this.$store.state.masterBackendName}`
      }
      fetch(path, {})
        .then(res => res.json())
        .then(resData =>{
          this.$store.commit('updateData', resData)
        })
    },


    openSubTreeHandler(){
      this.openSubTree = true;
    }
  },
}
</script>
<style lang="scss">
  .splitpanes.default-theme .splitpanes__pane{
    background: white;
  }
  .content{
    display: flex;
    justify-content: space-between;
    .treeWrapper{
      border-right: 1px double black;
      height: 93vh;
    }
    .windowWrapper{
      width: 100%;
    }
  }

  .v-application{
    .tree {
      a{
        color: #000;
      }
    }
  }

  .subTableTree{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    transform: translateX(100%);
    transition: 1s ease-in;
    pointer-events: none;
    &.open{
      transform: translateX(0);
      transition: .5s ease-out;
    }
    .treeWrapper{
      border-left: 1px solid rgba(0,0,0,.2);
      .tree{
        padding-top: 2rem;
      }
    }
    .closer{
      position: absolute;
      top: .5rem;
      right: 2.5rem;
      width: 1.7rem;
      height: 1.7rem;
      cursor: pointer;
      border-radius: 50%;
      &:hover{
        &:before{
          background: rgba(0,0,0,.3);
        }
      }
      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150%;
        height: 150%;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,0);
        border-radius: 50%;
        transition: 0.5s;
      }
      span{
        position: absolute;
        top: 50%;
        height: 2px;
        width: 100%;
        background: black;
        transform: rotate(45deg);
        &:nth-of-type(2){
          transform: rotate(-45deg);
        }
      }
    }
    .splitpanes--vertical{
      pointer-events: none;
    }
  }
  .hiddenBlock{
    background: transparent;
    pointer-events: none;
  }
  .eventsAll{
    pointer-events: all;
  }




</style>
