<template>
    <table>
        <tr>
            <tr>
                <td>123123</td>
                <td>12312312</td>
                <td>123123123</td>
            </tr>
        </tr>
        <tr>
            <tr>
                <td>123123</td>
                <td>12312312</td>
                <td>123123123</td>
            </tr>
        </tr>
        <tr>
            <tr>
                <td>123123</td>
                <td>12312312</td>
                <td>123123123</td>
            </tr>
        </tr>
        <tr>
            <tr>
                <td>123123</td>
                <td>12312312</td>
                <td>123123123</td>
            </tr>
        </tr>
    </table>
</template>

<script>


    export default {
        name: "test",
    }
</script>

<style scoped>

</style>
