<template>
    <div class="DB_item">
        <v-btn x-large @click.native="setMainCategory">{{item.attributes['ui_name']}}</v-btn>
    </div>
</template>

<script>
    export default {
        name: "DB_item",
        props:[
            'item',
        ],
        methods:{
            async setMainCategory(){
                this.$store.state.masterBackendName = this.item.attributes['backend_name'];
                this.$store.state.activeMainTable = this.item.attributes;
                this.$store.state.subTablesList = this.item.subTables;
                this.$store.state.activeSubTable = this.item.subTables[0];
                this.$store.state.subBackendName= this.item.subTables[0].attributes['backend_name'];
                //Обнуление списка колонок мастер таблицы
                this.$store.state.mainTableCols = [];
                this.$store.state.activeMainFields = [];
                //Обнуление деревьев
                this.$store.state.masterTerritoryTree = null
                this.$store.state.masterEmployeesTree= null
                this.$store.state.subTerritoryTree= null
                this.$store.state.subEmployeesTree= null

                await this.$store.dispatch('fetchMasterTable');
                await this.$store.dispatch('fetchSubTable');
                await this.$store.dispatch('fetchTablesCols');
                await this.$router.replace('/mapping');

            }
        },
    }
</script>

<style lang="scss" scoped>
    .DB_item{
        margin-right: 1rem;
    }
</style>
