<template>
  <div class="wrapper">
    <v-app id="inspire">
      <v-navigation-drawer
        v-model="drawer"
        app
      >
        <v-list dense>
          <router-link  class="link" to="/">
            <v-list-item @click="drawer = !drawer" link>
              <v-list-item-action>
                <v-icon>mdi-home</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Главная</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </router-link>

          <router-link @click="drawer = !drawer" class="link" to="/mapping">
            <v-list-item @click="drawer = !drawer" link>
              <v-list-item-action>
                <v-icon>mdi-contact-mail</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Mapping</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </router-link>
        </v-list>
      </v-navigation-drawer>

      <v-app-bar
        app
        color="indigo"
        dark
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Mapping-system</v-toolbar-title>
      </v-app-bar>

      <v-main>
        <router-view />
      </v-main>
    </v-app>

  </div>
</template>

<script>

export default {
  props: {
    source: String
  },
  data () {
    return {
      drawer: false
    }
  }
}
</script>

<style lang="scss">
  html{
    overflow: hidden !important;
  }
  a.link{
    text-decoration: none;
  }

</style>
